.container {
  margin: 10;
  border: solid 1px;
  margin-top: 10px;
  padding: 10px;
  margin-top: 70px;
  color: #c248be91;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(201, 44, 44, 0.4);
}

h1 {
  font-size: var(--h1-font-size);
  font-weight: var(--h-font-weight);
  color: var(--h1-Color);
}

.header {
  background-color: var(--header-background-color);
  height: 60px;
}

ul {
  padding: 0px;
}

li {
  list-style-type: none;
}

.pokemon-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.pokemon-img {
  border: #4646a8 solid 1px;
}

.button-class:hover {
  background-color: #d53a3a;
  color: rgb(39, 17, 117);
  border: 2px solid #ddd;
}

.modal-content {
  margin: 0;
  border: solid 1px;
  margin-top: 5px;
  padding: 5px;
  margin-top: 60px;
}
