.container {
  margin: 5;
  border: none;
  margin-top: none;
  padding: none;
  margin-top: 70px;
  color: none;
  font-weight: 500;
  flex-wrap: wrap;
}

/* h1 {
  font-size: var(--h1-font-size);
  font-weight: var(--h-font-weight);
  color: var(--h1-Color);
} */

/* .header {
  background-color: var(--header-background-color);
  height: 60px;
} */

ul {
  padding: 0px;
}

li {
  list-style-type: none;
}

.pokemon-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 40px;
}

.pokemon-img {
  border: none solid 1px;
}

.button-class:hover {
  background-color: #d53a3a;
  color: rgb(17, 117, 62);
}
